# -- NGINX
NGINX_PORT=8080

# -- FRONTEND
FRONTEND_PORT=5173
FRONTEND_URL=http://localhost:5173

# -- BACKEND
BACKEND_PORT=3000
BACKEND_URL=http://localhost:3000

# -- POSTGRES
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app-database
POSTGRES_PORT=5532

# -- PGADMIN
PGADMIN_PORT=5550
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
